<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>list</title>
</head>
<body>
  <h1>Contact List</h1>
  <div id = "tab"></div>
<script>

  fetch('http://127.0.0.1:8000/contact/list/')
  .then(Response =>Response.json())
  .then(function(data){
    data.forEach(item=>{
      const { first_name, last_name, number, address, email } = item;
      let element = document.getElementById('tab');
      let html = ` 
      <div class='table'>
        <tr>
          <td>${first_name}</td>
          <td>${last_name}</td>
          <td>${number}</td>
          <td>${address}</td>
          <td>${email}</td>
        </tr>
        </div>`
    })
  })
</script>    
  
</body>
</html>